# https://blog.thesparktree.com/cron-in-docker
# /etc/crontab: system-wide crontab
# Unlike any other crontab you don't have to run the `crontab'
# command to install the new version when you edit this file
# and files in /etc/cron.d. These files also have username fields,
# that none of the other crontabs do.

#  >/proc/1/fd/1 redirects STDOUT from the `date` command to PID1's STDOUT
# 2>/proc/1/fd/2 redirects STDERR from the `date` command to PID1's STDERR

# Example of job definition:
# .---------------- minute (0 - 59)
# |  .------------- hour (0 - 23)
# |  |  .---------- day of month (1 - 31)
# |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
# |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7) OR sun,mon,tue,wed,thu,fri,sat
# |  |  |  |  |
# *  *  *  *  * user command
 00 00  *  *  * root test -x /usr/sbin/logrotate || exit 0
 00 01  *  *  * root /usr/sbin/logrotate /etc/logrotate.conf
  *  *  *  *  * root date >/proc/1/fd/1 2>/proc/1/fd/2 >> /var/www/m2.4/var/log/magento.cron.log
#~ MAGENTO START d136e4effed2337a62437b5ea6e89d450b7ebd44 
#*/10 *  *  *  * root /usr/bin/php8.1 /var/www/m2.4/bin/magento indexer:reindex 2>&1 >> /var/www/m2.4/var/log/magento.cron.log
  *  *  *  *  * root /usr/bin/php8.2 /var/www/m2.4/bin/magento cron:run 2>&1 >> /var/www/m2.4/var/log/magento.cron.log
#~ MAGENTO END d136e4effed2337a62437b5ea6e89d450b7ebd44

